{% extends 'base.html' %} {% block content %} {% load staticfiles %} {% if error %} {{ error }}
<br />
<br />
{% endif %}

<div class="container primary py-2">
  <h1>SIGN UP</h1>
  <br />
  <form action="{% url 'sign_up' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control col-md-3" name="username" placeholder="Your username" id="username" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control col-md-3" name="password" placeholder="Your password" id="password" required />
    </div>
    <div class="form-group">
      <label for="confirmpassword">Password</label>
      <input type="password" class="form-control col-md-3" name="confirmpassword" placeholder="Your confirmpassword" id="confirmpassword" required />
    </div>
    <input type="submit" value="Sign Up" />
  </form>
  <br />
  <div class="py-2">
    Existing user:
    <a href="{% url 'login' %}">Login</a>
  </div>
</div>
{% endblock %}
